
notebooks/.DS_Store
.DS_Store
data/spreadsheets/df_txtlab_full.csv
data/spreadsheets/df_nnovels_full.csv
data/spreadsheets/individual_novels/df_Armadale_full.csv
data/.DS_Store
data/.DS_Store
*.icloud
