
notebooks/.DS_Store
.DS_Store
data/spreadsheets/df_txtlab_full.csv
data/spreadsheets/df_nnovels_full.csv
data/spreadsheets/individual_novels/df_Armadale_full.csv
data/.DS_Store
data/.DS_Store
*.icloud
.ipynb*
utilities/analysis_of_first_and_sencond_half_acs/data
utilities/analysis_of_first_and_sencond_half_acs/logs
utilities/analysis_of_first_and_sencond_half_acs/logs
utilities/analysis_of_first_and_sencond_half_acs/~$mmary_differences_df_1_and_df_2.docx
utilities/analysis_of_first_and_sencond_half_acs/summary_differences_df_1_and_df_2.docx
data/spreadsheets/tests/arm_1_full.csv
data/spreadsheets/tests/arm_1_meta.csv
data/spreadsheets/tests/test_full.csv
data/spreadsheets/tests/test_meta.csv
data/spreadsheets/tests/test_words_full.csv
data/.DS_Store

notebooks/.DS_Store
.DS_Store
data/spreadsheets/df_txtlab_full.csv
data/spreadsheets/df_nnovels_full.csv
data/spreadsheets/individual_novels/df_Armadale_full.csv
data/.DS_Store
data/.DS_Store
*.icloud
utilities/newspaper_corpus_processor/test_bak

.ipynb*
utilities/analysis_of_first_and_sencond_half_acs/data
utilities/analysis_of_first_and_sencond_half_acs/logs
utilities/analysis_of_first_and_sencond_half_acs/logs
utilities/analysis_of_first_and_sencond_half_acs/~$mmary_differences_df_1_and_df_2.docx
utilities/analysis_of_first_and_sencond_half_acs/summary_differences_df_1_and_df_2.docx
data/spreadsheets/tests/arm_1_full.csv
data/spreadsheets/tests/arm_1_meta.csv
data/spreadsheets/tests/test_full.csv
data/spreadsheets/tests/test_meta.csv
data/spreadsheets/tests/test_words_full.csv
data/.DS_Store